<launch>


  <include file="$(find can_to_eth)/launch/c2e_pro.launch">
  </include>

  <include file="$(find rslidar_pointcloud)/launch/two_lidar.launch">
  </include>

  <!--<include file="$(find rs_fusion_release)/launch/rs_fusion_show.launch">
  </include>-->

  <include file="$(find lidar_detect)/launch/lidar_detect_node_launch.launch">
  </include>

  <include file="$(find decision)/launch/decision.launch">
  </include>

  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find decision)/rviz/e200.rviz"/>

</launch>
